<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="/dashboard">Dashboard</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="/submit-bak">Submit a BAK</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/validate-bak">Validate BAK</a>
                </li>
                <!-- New nav-item for the betting system -->
                <li class="nav-item">
                    <a class="nav-link" href="/bets">Betting System</a>
                </li>
            </ul>
            <span class="navbar-text">
                Logged in as <%= user.name %>
            </span>
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/logout">Logout</a>
                </li>
            </ul>
        </div>
    </div>
</nav>